@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* This sets InterVariable as the primary sans-serif font */
  --font-inter: "InterVariable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-header-blue: #0054a7; /* A custom blue */
  --color-header-green: #00616E; 
}
